.hero {
  &.-home-page {
    margin-top: 50px;
  }
}

.hero__title{
  position: absolute;

  &.-first {
    z-index: 1;
    top: 14vw;
    right: 0;
  }

  &.-second {
    z-index: 3;
    top: 36vw;
    right: -50%;
  }
}

.hero__image {
  position: absolute;
  top: 28vw;
  z-index: 2;
  @include aspect-ratio(4, 3);
  content: '';
  width: 80%;
  background: url(https://cdn.shopify.com/s/files/1/2014/4933/t/1/assets/bartender_serving.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-content.wrapper {
    display: block;
    margin-top: 0px;
    padding: 0 0 0 0;
    max-width: 100%;
}
